@use '../../styles/mixins' as *;
@use '../../styles/variables' as *;

// dessert section
.desserts-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  width: 100%;
  
  @include mobile {
    grid-template-columns: 1fr;
  }
}